.Avatar{
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}
.Avatar-carousel{
    width:100px;
    height:100px;
    margin-bottom:20px;
}
.Avatar-modal-title,.Avatar-modal-footer{
    text-align:center;
    margin-bottom:0;
    font-size:16px;
}

.Avatar-models{
    display:flex;
    justify-content:space-around;
}